.venv
.nerfstudio
/nerfstudio

# --------------------
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
dist/
build/

# --------------------
# Virtualenv
.venv/
env/
venv/
ENV/

# --------------------
# IDE / Editor files
.vscode/
.idea/

# --------------------
# Streamlit cache
.streamlit/cache/

# --------------------
# Profiles (Optional, if you store user selections)
profiles/*.json

# --------------------
# OS files
.DS_Store
Thumbs.db
ehthumbs.db